.o-list {
  margin: 0;
  padding: 0;
  list-style: none; }
  .o-list > .o-list__item {
    vertical-align: top; }

h1 {
  font-size: 12px; }
  @media screen and (min-width: 768px) {
    h1 {
      font-size: 16px; } }
